.inhalt {
    margin-top: 80px;
    
}

.profibild_image {
    box-shadow: 5px 5px 10px grey;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.artikel-metadata {
    margin-top: 20px;
}

artikel {
    margin-top: 80px;
}

.artikel {
    margin-top: 80px;
}

.artikelbild1 {
    margin-bottom: 20px;
    ;
}

.artikelbild {
    margin-top: 30px;
    margin-bottom: 10px;
    height: auto;
}

.Seitenende1 {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 20px;
}

form {
    width: 25em;
    border: 1px solid gainsboro;
}

input {
    margin: 0 0 1em 1em;
    margin-top: 10px;
}

label {
    float: left;
    text-align: right;
    width: 10em;
    margin-top: 10px;
}

label {
    float: left;
    text-align: right;
    width: 10em;
}

input {
    margin: 0 0 1em 1em;
    margin-top: 10px;
}

.icontop {
    height: 22px;
    margin-left: 14px;
}

.navbar-header {
    background-color: #47BB4C;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    border: thin solid black;
    padding: 5px;
}

.info {
    margin-top: 20px;
}


footer {
    margin-top: 20px;
    text-align: center;
    color: white;
    padding: 15px;
    background-color: #47BB4C;
    position: fixed;
     bottom: 0;
    left: 0;
    right: 0;
  
 
}

.Seitenende2 {
    margin-top: 80px;
}

td {
    text-align: center;
}

.Spalte1 {
    width: 90px;
}

th {
    text-align: center;
}

.Spalte2 {
    width: 180px;
}

.bildunterschrift {
    margin-top: 20px;
}

.bilderrahmen {
    border: 20px;
    border-color: black;
    padding: 20px;
}

.größe {
    width: 537, 5px;
    height: 350px;
}

.inhalt1 {
    margin-top: 80px;
}

.Spalte3 {
    width: 60px;
}

.Seitenende {
    margin-bottom: 80px;
}

.lead1 {
    margin-top: 20px;
     margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}


.banner {
    text-align: center;
    color: #47BB4C;
}

table {
    
}

.artikel1 {
    margin-top: 20px;
}

.white {
    font-size: 1px;
    color: white;
}


